.schedule-toolbar,
.schedule-toolbar > div {
  display: flex;
  justify-content: space-between;
}

.schedule-toolbar {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 3;
  padding: 1em;
  margin-left: -2em;
  margin-right: -2em;
}

.toolbar-left {
  width: 35%;
}

.toolbar-right {
  width: 20%;
}
