@import "../../../styles/constants.scss";

.schedule-toolbar,
.schedule-toolbar > div {
  display: flex;
  justify-content: space-between;
}

.schedule-toolbar {
  position: sticky;
  top: 0;
  background-color: $bg-header;
  z-index: 3;
  padding: $spacing;
  margin-left: -2 * $spacing;
  margin-right: -2 * $spacing;
  // TODO: there is slight squishing when scrolling down before sticky headers get picked up
  margin-bottom: 1.5 * $spacing;
  min-height: 10vh;
}

.toolbar-left {
  margin-left: 4 * $spacing;
  width: 20%;
}

.toolbar-right {
  width: 20%;
}
