@import "../../../styles/constants.scss";

.schedule-wrapper {
  overflow-x: auto;
  display: flex;
  flex: 1;
}

.fc-event {
  cursor: pointer;
}

// Ref: https://stackoverflow.com/questions/38340054/react-virtualized-autosizer-calculates-height-as-0-for-virtualscroll
.adjacent {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
}

.calendar-width {
  width: 25vw;
}

.calendar-title {
  padding-top: $spacing;
  padding-bottom: $spacing;
}

.schedule-header-row {
  background-color: $bg-header;
  background-color: lightblue;
  // position: sticky;
  // top: 100;
}

.schedule-time-axis-wrapper {
  display: flex;
  flex-direction: row;
}

.time-slot {
  display: flex;
  justify-content: flex-end;
  height: 50px; // TODO: Calculate or use constant?
  padding-right: 0.5 * $spacing;
}

// $day-header-height: 28px;
// $title-header-height: 1.5em (height) + 2em (top and bottom padding);

.left-time-axis {
  background-color: $bg-header;
  display: flex;
  flex-direction: column;
  width: 6 * $spacing;
  padding-top: calc(28px + 3.5em); // Offset for the day headers and title headers
}
