@import "../../../styles/constants.scss";

.schedule-wrapper {
  overflow-x: auto;
}

.adjacent {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.calendar-width {
  width: 25vw;
}

.calendar-title {
  padding-top: $spacing;
  padding-bottom: $spacing;
}

$header-offset: 8;

.schedule-header-row {
  margin-left: -$header-offset * $spacing;
  padding-left: $header-offset * $spacing;
  margin-right: -$header-offset * $spacing;
  padding-right: $header-offset * $spacing;
  margin-top: $spacing;
  background-color: $bg-header;
}

.schedule-time-axis-wrapper {
  display: flex;
  flex-direction: row;
}

.time-slot {
  display: flex;
  justify-content: flex-end;
  margin-top: -1.5 * $spacing;
  padding-right: 0.5 * $spacing;
}

.left-time-axis {
  background-color: $bg-header;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 6 * $spacing;
  padding-top: 28px; // Offset for the day headers
}
