.meta-container {
  margin-top: 20px;
}

.meta-paper {
  padding: 20px;
  text-align: center;
}

.meta-field {
  margin: 10px 0;
  font-size: 1rem;
}

.meta-field span {
  font-weight: bold;
}

.meta-time {
  margin-top: 20px;
  font-size: 3rem;
}
