@import "../../../styles/constants.scss";

.schedule-wrapper {
  overflow-x: auto;
}

.adjacent {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.calendar-width {
  width: 25vw;
}

.calendar-title {
  padding-top: $spacing;
  padding-bottom: $spacing;
}

.schedule-header-row {
  margin-left: -2 * $spacing;
  padding-left: 2 * $spacing;
  background-color: $bg-header;
}
