.calendars-wrapper {
  overflow-x: auto;
}

.calendars-adjacent {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.calendar {
  width: 25vw;
}

.calendar-title {
  // TODO: MAKE CSSS VARIABLES for bg color and padding/margin dependencies
  background-color: #f2f2f2;
  z-index: 500;
  padding: 1em;
}

.calendar-title-row {
  margin-left: -2em;
  padding-left: 2em;
  background-color: #f2f2f2;
}

.top-thing {
  top: 10vh;
}
