.export-label {
  color: black !important;
}

.hidden {
  display: none !important;
}

.export-label {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  cursor: pointer !important;
}
