# From https://medium.com/@cmichel/how-to-deploy-a-create-react-app-with-github-actions-5e01f7a7b6b
name: Deployment
on:
  push:
    branches:
      - production
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      working-directory: ./client-course-schedulizer
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Packages
        run: npm install
        working-directory: ${{env.working-directory}}
      - name: Build Page
        run: npm run build
        working-directory: ${{env.working-directory}}
      - name: Remove gh-pages Cache
        run: rm -rf node_modules/gh-pages/.cache
        working-directory: ${{env.working-directory}}
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ../build
